@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #E6F4FA;

    --primaryIconColor: #40C0F1;
    --primaryIconColorHover: #79d2f5;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-size: 0.9rem;
    font-weight: 400;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

#hero {
    height: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0rem 1rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 80%;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-button {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #40C0F1;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
}

.order-button:hover {
    background-color: #79d2f5
    ;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #40C0F1;
    color: white;
}

.popup a {
    margin-top: 20px ;
    width: 100%;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.mom-title {
    text-align: center;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

footer{
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: #000;
}